<div class="container">
  <a routerLink="/createProduct">
    <button class="btn btn-primary ajouter" routerLink="createProduct">
      Ajouter Produit
    </button>
  </a>
  <table class="table">
    <thead>
      <tr>
        <th>Nom de l'article</th>
        <th>ID</th>
        <th>ID Categorie</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tr *ngFor="let product of productList">
      <td>{{ product.nom }}</td>
      <td>{{ product.id }}</td>
      <td>{{ product.idcategorie }}</td>
      <td>{{ product.stock }}</td>
      <td class="last-td">
        <a routerLink="/editproduct/{{ product.id }}">
          <button class="btn btn-success modifier">Modifier</button>
        </a>
        <button (click)="delete(product.id)">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
