table {
  text-align: center;
}
table td {
  padding: 15px 20px;
}
table tr {
  border-bottom: 1px solid #f6f6f6;
}
button {
  border: none;
  outline: none;
}
.ajouter {
  margin-top: 20px;
  margin-bottom: 50px;
}

.modifier {
  color: white;
  background-color: #198754;
  border-radius: 7px;
  transition: 0.3s;
  padding: 6px 12px;
  margin-left: 20px;
}

td .modifier:hover {
  background-color: rgb(16, 117, 70);
}
.last-td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.fa-trash-o {
  font-size: 35px;
  color: red;
  transition: 0.3s;
}

.fa-trash-o:hover {
  color: rgb(216, 0, 0);
}

.alert {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert .fa-times-circle {
  cursor: pointer;
}
