<div class="container mt-5">
    <p class="ajouter">information du catégorie</p>
  
    <form>
      <div class="group">
        <label class="form-label" for="ref">Reference</label>
        <input
          id="ref"
          class="form-control"
          type="text"
          placeholder="Reference"
          name="reference"
        />
      </div>
      <div class="group">
        <label class="form-label" for="nom">Nom du catégorie</label>
        <input
          id="nom"
          class="form-control"
          type="text"
          placeholder="Nom du catégorie"
          name="nom"
        />
      </div>
      <div class="group">
        <label class="form-label" for="disp">Source de l'image</label>
        <input
          id="disp"
          class="form-control"
          type="text"
          placeholder="Source de l'image"
          name="source"
        />
      </div>
      <div class="btns">
        <input type="reset" value="Fermer" />
        <input type="submit" value="Ajouter" />
      </div>
    </form>
  </div>
  