.group {
  margin: 20px 0;
}

.ajouter {
  position: relative;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.ajouter::after {
  content: "";
  position: absolute;
  border: 1px solid #f3f3f3;
  bottom: 0;
  left: 0;
  width: 100%;
}

input[type="radio"] {
  margin: 0 15px;
}

.disp {
  margin-right: 30px;
}
form {
  position: relative;
}
.btns {
  position: absolute;
  right: 0;
}
.btns input {
  border: none;
  outline: none;
  /* color: white; */
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  color: white;
}
.btns input:first-child {
  background-color: #777;
}
.btns input:last-child {
  background-color: #0055ff;
}

.btns input:disabled {
  background-color: #0055ff4f;
}

.alert {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert .fa-times-circle {
  cursor: pointer;
}

.form-control.ng-touched.ng-invalid {
  border: 1px solid red;
  transition: 0.5s;
  box-shadow: 0px 0px 7px 2px #ff686833;
}
.form-control.ng-touched.ng-invalid::placeholder {
  color: red;
}
.form-control.ng-touched.ng-invalid + div {
  color: red;
  margin-top: 10px;
}
