<header class="position-absolute left-0 w-100 z-2">
  <div
    class="container d-flex justify-content-between align-items-center position-relative"
  >
    <a href="#" class="logo">
      <img class="h-40" src="../../../assets/images/logo.png" alt="logo" />
    </a>
    <nav class="d-flex align-items-center justify-content-end">
      <i class="fa fa-solid fa-bars toggle-menu"></i>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
