.categorie {
  padding-bottom: 20px;
}

.categorie .imgs-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.categorie .imgs-container .box {
  overflow: hidden;
  position: relative;
  max-height: 214px;
}
.categorie .imgs-container .box:hover .caption {
  bottom: 0;
}
.categorie .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (max-width: 768px) {
  .categorie .imgs-container {
    grid-gap: 10px;
  }
}
@media (min-width: 768px) {
  .categorie .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .categorie .imgs-container .box {
    flex-basis: 25%;
  }
}
.categorie .imgs-container .box img {
  max-width: 100%;
  min-height: 214px;
  transition: 0.3s;
}
.categorie .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.categorie .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.categorie .ajouter {
  background-color: #19c8fa;
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
  animation: to_left 1s ease-out forwards;
}

@keyframes to_right {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  50% {
    opacity: 30%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.imgs-container a {
  animation: to_bottom 1s ease-out forwards;
}
