<header class="position-absolute left-0 w-100 z-2">
  <div
    class="container d-flex justify-content-between align-items-center position-relative"
  >
    <a href="#" class="logo">
      <img src="../../../assets/images/logo.png" alt="logo" />
    </a>
    <nav class="d-flex align-items-center justify-content-end">
      <i class="fa fa-solid fa-bars toggle-menu"></i>
      <ul>
        <li><a class="home" href="#" style="--del: 1s">Home</a></li>
        <li>
          <a class="gerer" routerLink="/allProduct" style="--del: 1.2s"
            >Gérer Produit</a
          >
        </li>
        <!-- <li><a class="contact" href="#" style="--del: 1.4s">Contact</a></li> -->
      </ul>
    </nav>
  </div>
</header>
